.blk-gallery {
  display: block;
  flex-direction: row-reverse;
  width: 100dvw;
  gap: 2rem;
  overflow: hidden;
}
  
.blk-gallery .slick-slide {
  height: calc(100dvw - 4.6rem);
}

.blk-slider-main-wrapper {
  position: relative;
  max-width: 100dvw;
}

.blk-slider-main img {
  border-radius: var(--text-boxes-radius);
  max-width: calc(100dvw - 6rem);
  max-height: calc(100dvw - 6rem);
  margin: 0 7rem;
}

.blk-slider-main-item {
  position: relative;
}

.blk-slider-main-item:hover .blk-slider__zoom-button {
  display: block;
}

.blk-slider__zoom-button {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  color: white;
}

.blk-slider-nav {
  width: 10rem;
  height: 4.8rem;
  display: none;
}

.blk-gallery .slick-vertical .slick-slide {
  height: 10rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  border: none;
  border-radius: calc(var(--text-boxes-radius) / 1.66);
  overflow: hidden;
}

.blk-slider__arrows {
  display: none;
}
  
@media screen and (min-width: 750px) {
  .blk-gallery  {
    display: flex;
    width: 100%;
    overflow: inherit;
  }

  .blk-gallery .slick-slide {
    height: 48rem;
  }

  .blk-slider-main {
    width: 48rem;
    height: 48rem;
    overflow: hidden;
    border-radius: var(--text-boxes-radius);
  }

  .blk-slider-main-item {
    width: 48rem;
  }

  .blk-slider-main img {
    border-radius: var(--text-boxes-radius);
    max-width: 48rem;
    max-height: 48rem;
    border-radius: var(--text-boxes-radius);
    margin: 0;
  }

  .blk-slider-nav  {
    display: inherit;
  }

  .blk-slider__arrows {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: .5rem;
  }

  .blk-slider__arrows__arrow  {
    width: 2.3rem;
    height: 2.3rem;
    padding: .5rem;
    cursor: pointer;
    opacity: 0.5;
  }

  .blk-slider__arrows__arrow:hover  {
    opacity: 1;
  }

  .blk-slider__arrows__arrow--left  {
    transform: rotate(90deg);
  }
  .blk-slider__arrows__arrow--right  {
    transform: rotate(-90deg);
  }
}